<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

    }
</style>


<body>
    <div class="center">
        <h2>STUDENT PAGE</h2>
    </div>


</body>
</html>